<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>version</key>
    <string>1.0.0</string>
    <key>warning</key>
    <string>请不要修改这个文件中的内容</string>
    <key>project</key>
    <dict>
      <key>projectId</key>
      <integer>101504</integer>
    </dict>
    <key>application</key>
    <dict>
      <key>appId</key>
      <integer>101403</integer>
      <key>packageId</key>
      <string>com.turboFramework.www</string>
    </dict>
    <key>services</key>
    <dict>
      <key>analytics</key>
      <dict>
        <key>appKey</key>
        <string>Iqcloud101403</string>
      </dict>
      <key>messaging</key>
      <dict>
        <key>appId</key>
        <string>2200292529</string>
        <key>appKey</key>
        <string>I1K4Y3SG8W1A</string>
      </dict>
      <key>crash</key>
      <dict>
        <key>appId</key>
        <string>6d9b9356a9</string>
      </dict>
      <key>payment</key>
      <dict>
        <key>offerId</key>
        <string>TC101403</string>
      </dict>
      <key>storage</key>
      <dict>
        <key>bucket</key>
        <string>tac-turo-st-1253951662</string>
        <key>region</key>
        <string>ap-guangzhou</string>
      </dict>
    </dict>
  </dict>
</plist>